<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reading - Back</title>
  </head>
  <body>
    <h2>Welcome to back end of application Reading App</h2>
    <h4>GET requests</h4>
    <div>
      Get books with request: http://127.0.0.1:5000/getbooks =>
      <a href="/getbooks"><button>Try</button></a>
    </div>

    <div>
      Find books with `saigon`: http://127.0.0.1:5000/searchbook/saigon =>
      <a href="/searchbook/saigon"><button>Try</button></a>
    </div>

    <div>
      Get list of table d'indexage with more than 3 caracteres:
      http://127.0.0.1:5000/tableindex =>
      <a href="/tableindex"><button>Try</button></a>
    </div>
  </body>
</html>
