<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        margin: 20px;
        padding: 20px;
      }

      .body-title {
        text-align: center;
        font-size: 2.5rem;
        margin: 10px;
      }
      .methods {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 90%;
        margin: 0 auto;
        border: solid 1px black;
        padding: 20px;
      }
      .methods-title {
        font-size: 20px;
        padding: 10px 50px;
        margin: 5px;
      }
      .container {
        margin: 0 auto;
      }
      .methods-container {
        margin: 10px;
        display: flex;
        flex-wrap: wrap;
      }

      .methods-container span,
      .methods-container a {
        border: solid 1px black;
        padding: 10px 20px;
      }

      .search-form {
        margin: 5px;
        text-align: center;
      }

      #search {
        width: 200px;
        height: 25px;
      }
      .divider {
        border-top: solid 1px black;
        width: 100%;
        margin: 20px auto;
      }
      .result-form {
        margin: 10px;
        text-align: center;
      }
    </style>
    <title>Reading - Back</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <h2 class="body-title">Welcome to back end of application Reading App</h2>

    <div class="methods">
      <h3 class="methods-title">GET some informations to test</h3>
      <div class="container">
        <div class="methods-container">
          <span>Table index</span>
          <a target="_blank" href="/tindex">http://127.0.0.1:5000/tindex</a>
        </div>

        <div class="methods-container">
          <span>Closeness Centrality</span>
          <a target="_blank" href="/closeness"
            >http://127.0.0.1:5000/closeness</a
          >
        </div>

        <div class="methods-container">
          <span>Show history searched words</span>
          <a target="_blank" href="/searchdata"
            >http://127.0.0.1:5000/searchdata</a
          >
        </div>

        <div class="methods-container">
          <span>Show clicked books information</span>

          <a target="_blank" href="/clickedbooks"
            >http://127.0.0.1:5000/clickedbooks
          </a>
        </div>

        <!-- <div class="methods-container">
          <span>Get list of informations for every books (use for Jaccard but not working)</span>
          <a target="_blank" href="/itbook">http://127.0.0.1:5000/itbook</a>
        </div> -->
      </div>
    </div>
    <!-- <div class="divider"></div> -->

    <div class="methods">
      <h3 class="methods-title">GET</h3>
      <div class="container">
        <div class="methods-container">
          <span>Get all books</span>
          <a target="_blank" href="/getbooks"
            >http://127.0.0.1:5000/getbooks
          </a>
        </div>

        <div class="methods-container">
          <span
            >Get list of keys of table index with more than 3 caracteres</span
          >
          <a target="_blank" href="/tableindex"
            >http://127.0.0.1:5000/tableindex</a
          >
        </div>

        <div class="methods-container">
          <span>Get the hot search by cosine simularity</span>
          <a target="_blank" href="/cosine">http://127.0.0.1:5000/cosine</a>
        </div>

        <!-- <div class="methods-container">
          <span
            >Get the hot search by jaccard simularity (not working well)</span
          >
          <a target="_blank" href="/jaccard">http://127.0.0.1:5000/jaccard</a>
        </div> -->

        <div class="methods-container">
          <span>Show most read books by counting the number of clicking</span>
          <a target="_blank" href="/mostread">http://127.0.0.1:5000/mostread</a>
        </div>
      </div>
    </div>

    <!-- <div class="divider"></div> -->
    <div class="methods">
      <h3 class="methods-title">GET with parameter</h3>
      <div class="container">
        <div class="methods-container">
          <span>Find books with keyword = `saigon`</span>
          <a target="_blank" href="/searchbook/saigon"
            >http://127.0.0.1:5000/searchbook/saigon</a
          >
        </div>

        <div class="methods-container">
          <span>Find book content with keyword = `2`</span>
          <a target="_blank" href="/readbookcontent/2"
            >http://127.0.0.1:5000/readbookcontent/2</a
          >
        </div>
      </div>
    </div>

    <!-- <div class="divider"></div> -->
    <div class="methods">
      <h3 class="methods-title">POST</h3>
      <div class="container">
        <div>
          <div class="methods-container">
            <span>Send keyword to find books </span>

            <a target="_blank" href="/searchdata"
              >http://127.0.0.1:5000/searchdata
            </a>
          </div>
          <div class="search-form">
            <span>Try this request: </span>
            <input id="search" />
            <button id="btn-send" onclick="sendWord()">Send</button>
          </div>
          <div class="result-form">
            <span id="result"></span>
          </div>
        </div>

        <div>
          <div class="methods-container">
            <span>Send book id to have ranking of the most clicked </span>

            <a target="_blank" href="/clickedbooks"
              >http://127.0.0.1:5000/clickedbooks
            </a>
          </div>
          <div class="search-form">
            <span>Try this request: </span>
            <input id="clicked-book" type="number" />
            <button id="btn-send-book" onclick="sendClickedWord()">Send</button>
          </div>
          <div class="result-form">
            <span id="result-clicked"></span>
          </div>
        </div>

        <div>
          <div class="methods-container">
            <span
              >Send last keyword to get list of suggestion by using closeness
              centrality</span
            >
            <a target="_blank" href="/suggestion"
              >http://127.0.0.1:5000/suggestion</a
            >
          </div>

          <div class="search-form">
            <span>Try this request: </span>
            <input id="last-search" />
            <button id="btn-last-search" onclick="sendLastSearch()">
              Send
            </button>
          </div>
          <div class="result-form">
            <span id="result-last-search"></span>
          </div>
        </div>
      </div>
    </div>

    <script>
      // SEARCH BOOKS BY KEYWORD -  POST
      var searchWord = document.getElementById("search");
      async function sendWord() {
        try {
          const data = await axios.post("http://127.0.0.1:5000/searchdata", {
            word: searchWord.value,
          });
          console.log(data);
          document.getElementById("result").innerHTML =
            "Result: " + JSON.stringify(data.data);
          // alert("Send word succesfully");
        } catch (e) {
          console.log(e);
        }
      }

      searchWord.addEventListener("keypress", function (event) {
        // If the user presses the "Enter" key on the keyboard
        if (event.key === "Enter") {
          event.preventDefault();
          document.getElementById("btn-send").click();
        }
      });

      // CLICKED BOOKS - POST
      var clickedBook = document.getElementById("clicked-book");
      async function sendClickedWord() {
        try {
          const data = await axios.post("http://127.0.0.1:5000/clickedbooks", {
            bookId: clickedBook.value,
          });
          console.log(data);
          document.getElementById("result-clicked").innerHTML =
            "Result: " + JSON.stringify(data.data);
          // alert("Send word succesfully");
        } catch (e) {
          console.log(e);
        }
      }
      clickedBook.addEventListener("keypress", function (event) {
        // If the user presses the "Enter" key on the keyboard
        if (event.key === "Enter") {
          event.preventDefault();
          document.getElementById("btn-send-book").click();
        }
      });

      // LAST SEARCH FOR SUGGESTION - POST
      var lastSearch = document.getElementById("last-search");

      async function sendLastSearch() {
        try {
          const data = await axios.post("http://127.0.0.1:5000/suggestion", {
            last_search: lastSearch.value,
          });
          console.log(data);
          document.getElementById("result-last-search").innerHTML =
            "Result books Id: " +
            JSON.stringify(data.data.map((item) => item.id));
          // alert("Send word succesfully");
        } catch (e) {
          console.log(e);
        }
      }

      lastSearch.addEventListener("keypress", function (event) {
        // If the user presses the "Enter" key on the keyboard
        if (event.key === "Enter") {
          event.preventDefault();
          document.getElementById("btn-last-search").click();
        }
      });
    </script>
  </body>
</html>
